@mixin flexbox {
  display: flex;
  flex-wrap: wrap;
}

@mixin flex-align($jusify, $align) {
  justify-content: $jusify;
  align-items: $align;
}

@mixin menu-list {
  list-style: none;
  background-color: white;

  .menu-item {
    display: inline-block;
    margin: 0 20px;
    font-size: initial;
    text-transform: uppercase;
    a {
      color: black;
      font-weight: 700;
      text-decoration: none;
    }
  }
}
