/* Colors */
$primary-colour: rgba(255, 255, 255, 0.642);

/* Fonts */
$font-family: "Metal Mania", cursive;

/* Containers */
$small-container: 100%;
$large-container: 960px;
$extra-large-container: 1140px;

/* Mobile breakpoints */

$extra-small: 480px;
$small: 576px;
$medium: 780px;
$large: 992px;
$extra-large: 1250px;
