@import "../utils/mixins.scss";
@import "../utils/variables";

.service-container {
  .containerName {
    margin-top: 20px;
    font-size: 50px;
    font-family: $font-family;
  }
  .mainProductContainer {
    .row {
    }
    .main {
      .productContainer {
        ul {
          list-style-type: none;
          padding: 0;
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          flex-wrap: wrap;
          align-content: flex-start;
          // row-gap: 12;

          li {
            padding-top: 25px;

            align-items: center;
            flex-direction: column;
            display: flex;
            height: 450px;

            border: 1px solid lightslategray;
            border-radius: 10px;

            button {
              margin-top: 30px;
            }
            h4 {
              font-size: small;
              font-family: $font-family;
            }
            h3 {
              margin: 5px;
              font-family: $font-family;
            }
            p {
              margin: 0;
              font-size: 45px;
              color: red;
              font-family: $font-family;
            }

            img {
              cursor: pointer;
              height: 240px;
              width: 240px;
            }

            .imgFlip {
              position: relative;
              display: inline-block;
            }
            .imgFlip .img-back {
              top: 0;
              left: 0;
              position: absolute;
              display: none;
            }
          }
          .imgFlip:hover .img-back {
            display: inline;
            background-color: white;
          }
        }
      }
    }
  }

  @media all and (min-width: 992px) {
    .productContainer ul li {
      width: 25%;
      margin: 30px auto;
    }
  }

  @media all and (max-width: 992px) {
    .productContainer ul li {
      width: 35%;
      margin: 30px auto;
    }
  }

  @media all and (max-width: 815px) {
    .productContainer ul li {
      width: 66%;
    }
  }
}
